{% for server in servers.values %}

    <h2>{{ server.name }}</h2>

    <table>
    {% for name, info in server.status.items %}
        <tr>
            <td>{{name}}</td>
            <td>{{info.statename}}</td>
            <td>{{info.description}}</td>
            <td><a href="/control/{{server.name}}/{{name}}/stop/">stop</a></td> <!-- TODO URL REVERSE -->
            <td><a href="/control/{{server.name}}/{{name}}/start/">start</a></td> <!-- TODO URL REVERSE -->
        </tr>
    {% endfor %}
    </table>

{% endfor %}
